
p {
	-epub-hyphens:auto;
  	color:#000000;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2%;
	margin-left:20%;
	margin-right:10%;
	margin-top:5%;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:none;
	widows:1;
  max-width: 50%;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
  color: rgb(255, 255, 255);
	border-style:solid;
  max-width: 70%;
  margin-left:10%;
}

body{
  background-color:rgb(0,0,0);
}

.color{
  background-color:white;
}

.subHeading {
  background-color:white;
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
  background-color:white;
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:600;
}
span.mainText {
  background-color:white;
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.Heading {
  background-color:white;
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:60px;
	font-style:normal;
	font-weight:bold;
}
span.table {
  color: rgb(245, 111, 66);
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:40px;
	font-style:normal;
	font-weight:bold;
}
span.info {
  background-color:white;
	font-family:futura-pt, 'Roboto', sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:400;
}


.button{
  	font-family:futura-pt, 'Roboto', sans-serif;
	  font-size:20px;
	  font-style:normal;
	  font-weight:normal;
    background-color:rgb(245, 111, 66);
    position: relative;
    left:10%;
    width: auto;
    height: 20%;
}

.img1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    width: 70%;
    height: auto;
}

.mainText{
	font-family:"Futura PT Medium", 'Roboto', sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}

a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

